ALPACA_API_KEY="xxxxxxxxxxxxxxxx"
ALPACA_API_SECRET="xxxxxxxxxxxxxxxx"

ALPACA_PAPER_2_KEY = "xxxxxxxxxxxxxxxx"
ALPACA_PAPER_2_SECRET = "xxxxxxxxxxxxxxxx"

ALPACA_PAPER_3_KEY = "xxxxxxxxxxxxxxxx"
ALPACA_PAPER_3_SECRET = "xxxxxxxxxxxxxxxx"