# Environments
.venv/
.env

# Results
results/

# Notebooks junk
notebooks/.cache.sqlite
notebooks/DEBUG.ipynb
*.ipynb linguist-vendored

# Python cache
**/__pycache__/

# Build artifacts
build/
dist/
*.egg-info/


