aiobotocore==3.1.3
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiosignal==1.4.0
alpaca-py==0.43.2
annotated-types==0.7.0
arch==8.0.0
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
blinker==1.9.0
botocore==1.42.49
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
clarabel==0.11.1
click==8.3.1
comm==0.2.3
contourpy==1.3.2
curl_cffi==0.13.0
cvxpy==1.7.5
cycler==0.12.1
dash-bootstrap-components==2.0.4
dash-table==5.0.0
debugpy==1.8.19
decorator==5.2.1
dotenv==0.9.9
ecos==2.0.14
exceptiongroup==1.3.1
exchange_calendars==4.12
executing==2.2.1
Flask==3.1.2
fonttools==4.61.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2026.2.0
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
ipykernel==7.1.0
ipython==8.38.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.4.9
korean-lunar-calendar==0.3.1
learn==1.0.0
lxml==6.0.2
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
msgpack==1.1.2
multidict==6.7.1
multitasking==0.0.12
narwhals==2.15.0
nest-asyncio==1.6.0
numpy==2.2.6
osqp==1.1.1
packaging==26.0
pandas==2.3.3
pandas-datareader==0.10.0
parso==0.8.5
patsy==1.0.2
peewee==3.19.0
pexpect==4.9.0
pillow==12.1.0
platformdirs==4.5.1
plotly==5.24.1
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.4
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==23.0.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyluach==2.3.0
pyparsing==3.3.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
-e git+https://github.com/jackyeung99/proj_quant_trading.git@f57b173be7eaf785937086bb55243fe462e6a8ee#egg=qbt
requests==2.32.5
retrying==1.4.2
s3fs==2026.2.0
sci-kit==0.1.0
scikit-learn==1.7.2
scipy==1.15.3
scs==3.2.11
seaborn==0.13.2
six==1.17.0
soupsieve==2.8.3
sseclient-py==1.9.0
stack-data==0.6.3
statsmodels==0.14.6
tenacity==9.1.4
threadpoolctl==3.6.0
tomli==2.4.0
toolz==1.1.0
tornado==6.5.4
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wcwidth==0.4.0
websockets==16.0
Werkzeug==3.1.5
wrapt==2.1.1
yarl==1.22.0
yfinance==1.0
zipp==3.23.0
