storage:
  enabled: true
  config: "configs/steps/storage.yaml"

ingestion:
  enabled: true
  config: "configs/steps/ingestion.yaml"

sources:
  enabled: true
  config: "configs/steps/sources.yaml"

silver:
  enabled: true
  config: "configs/steps/silver.yaml"

gold:
  enabled: false
  config: "configs/steps/gold.yaml"
