storage:
  backend: local
  base_dir: "."

ingestion:
  enabled: False
  mode: append  # full or append
  lookback_days: 1
  # start_override: "2021-01-01"
  # end_override: "2026-01-01"

sources:

  equities_daily:
    enabled: true
    provider: yfinance
    symbols: ["XLE", "SPY"]
    interval: "1d"

  equities_intraday_15m:
    enabled: true
    provider: alpaca
    symbols: ["XLE", "SPY"]
    interval: "15Min"
    feed: "iex"
    adjustment: "all"

  macro_fred:
    enabled: true
    provider: fred
    symbols: ["VIXCLS", "DGS10", "DGS2"]
    interval: "1d"


silver: 
  enabled: True 


gold:
  enabled: False