storage:
  backend: local
  base_dir: "."

ingestion:
  start: "2021-01-01"
  end: "2026-01-01"

sources:

  equities_daily:
    enabled: true
    provider: yfinance
    symbols: ["XLE", "SPY"]
    interval: "1d"

  equities_intraday_15m:
    enabled: true
    provider: alpaca
    symbols: ["XLE"]
    interval: "15Min"
    feed: "iex"
    adjustment: "all"

  macro_fred:
    enabled: false
    provider: fred
    symbols: ["VIXCLS", "DGS10", "DGS2"]
    interval: "1d"

paths:
  prefix: "data/bronze/"
